@{
    ViewData["Title"] = "Home Page";
}

@* <style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column; /* Cambia la dirección de la flexión a columna para centrar el contenedor de tarjetas verticalmente */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
        background: rgb(250, 251, 252);
    
    padding-top: 60px; /* Ajusta según la altura de tu barra de navegación */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias líneas si es necesario */
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    z-index: 1;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

</style> *@


    <div class="card-container">
        <div class="card">
            <div class="face front">
                <img src="~/Imagenes/awa.jpg" alt="Imagen 1">
                <h3>Nuestra cultura</h3>
            </div>
            <div class="face back">
                <h3>Historia y Cultura</h3>
                <p>Los Awá somos una comunidad indígena con una rica herencia cultural que ha mantenido a lo largo de los siglos. fuerte conexión espiritual con su entorno natural.</p>
                <div class="link"><a href="#">Más información</a></div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="~/Imagenes/imgLancha.png" alt="Imagen 2">
                <h3>Localización</h3>
            </div>
            <div class="face back">
                <h3>El resguardo indígena Awá</h3>
                <p> Comunidad localizada en el departamento de Nariño, Colombia. Los Awá son uno de los pueblos indígenas que habitan la región de la Amazonía y la región andina del sur de Colombia.</p>
                <div class="link"><a href="#">Más información</a></div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="/Imagenes/mapa.png" alt="Imagen 3">
                <h3>Censo</h3>
            </div>
            <div class="face back">
                <h3>Fomento de la Identidad</h3>
                <p>Estar censado ayuda a fortalecer la identidad comunitaria y el sentido de pertenencia, ya que los miembros se sienten reconocidos y valorados como parte integral de la comunidad.</p>
                <div class="link"><a href="#">Más información</a></div>
            </div>
        </div>
    </div>
